h3{
    color: #FF0000;
    font-family: sans-serif, arial;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 36px;
}  
button{
    background-color: #FF0000;
    color: #000;
    font-family: arial;
    position: absolute;
    left: 80%;
    top:50;
    font-size: 12px;
    border-radius: 3px;
    border-style: none;
    padding: 1%;
}
select{
    position: absolute;
    left: 89%;
    top:50;
    font-size: 12px;
    box-shadow: #000, 2px, 2px;
    padding: 1%;  
    
}

h1{
    font-size: 40px;
    position: absolute;
    text-align: center;
    left: 30%;
    top: 30%;
}