body{
    position: fixed;
}
header{

    display: flex;
    flex-direction: row;
    justify-content:flex-end;
  
}
h3{
    color: #FF0000;
    font-family: sans-serif, arial;
    font-weight: bold;
   
}  
button{
    background-color: #FF0000;
    color: #000;
    font-family: arial;
    font-size: 12px;
    border-radius: 3px;
    border-style: none;
   
   
}
select{
   
    font-size: 12px;
    box-shadow: #000, 2px, 2px;
    
    
}
main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}